* {
    padding: 0px;
    margin: 0px;
}

.logo {
    text-align: left;
    display:inline-block;
    width: 50%;
}
.cabecalho{
    text-align: right;
    display: inline-block;
    width: 49%;
}

main {
    height: max-content;
}

.login {
    padding: 20px;
    left: 57.88%;
    position: relative;
    display: block;
    text-align: center;
    width: 40%;
    background-color: white;
    padding-top: 20%;
    font-size: larger;

}

.user {
    padding-bottom: 30px;
}

.boxLog {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0%;
}

body {
    background-color: aquamarine;
}

.title {
    position: top;
    position: relative;
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}

html,
body,
main.login {
    height: 100%;
    ;
}

#btnLog {
    font-size: larger;
    position: relative;
    top: 20%;
    padding: 3%;
    border-radius: 15px;
    background-color: rgb(30, 221, 30);
}

h2 {
    position: relative;
    bottom: 20%;
    width: 33%;
    left: 33%;
    border-radius: 15px;
    background-color: rgb(30, 221, 30);
}

.boxLog {
    padding-top: 10px;
    padding-bottom: 10px;
}

.inpLabel {
    position: relative;
    top: 29px;
    right: 40%;
    transform: translateY(-29px);
    transition: all 0.7s ease ;
}

input:focus+.inpLabel,
input:not(:placeholder-shown)+.inpLabel {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.user:hover .inpLabel {
    top: 0px;
}
.toolBar{
    border-radius: 11px;
    margin: 2%;
    width: 20%;
    color: white;
    font-size: large;
    background-color: black;
    border-color: white;
}

.pesquisar{
    display: inline-block;
    display: inline-block;
    width: 35%;
    text-align: center;
}

.Mnucabecalho{
    text-align: right;
    display: inline-block;
    width: 32%;
}
h1{
    text-align: left;
    display: inline-block;
    width: 32%;
}

.containerLogo{
    position: relative;
    bottom: 26%;
}